html {
    background-color: rgb(254, 245, 234);
}
html, body {
   height:100vh;
}
body {
    padding: 0 0.5rem;
    margin: 0;
}
.syne-reg {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p, li {
    font-family: "Syne", sans-serif;
}
p{
    color: #FF4B00;
}
.copy{
    padding-top: 2rem;
}
li {
    list-style: none;
}
ul {
    padding-left: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow-y: auto;
}
.filter {
    position: sticky;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    height:100vh;
}
img {
    max-width: 100%;
}
.filter ul li {
    cursor: pointer;
}
.filter ul li:hover {
    color: #FF4B00;
}
.filter ul li.active {
    color: #FF4B00;
}
.images img {
    transition: opacity 0.2s ease, transform 0.2s ease; 
    opacity: 0; 
    transform: scale(0.99);  
    width: 100%;
    object-fit: cover;
}
.images img.show {
    opacity: 1; 
    transform: scale(1); 
}
.all-filter {
    transition: opacity 0.2s ease; /* Transizione per l'opacità */
}