html {
    background-color: rgb(254, 245, 234);
}
html, body {
    height: 100vh;
}
body {
    padding: 0;
    margin: 0;
}

/*typo*/
.syne-reg {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.syne-med {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.eb-garamond-med {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.eb-garamond-reg {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1, p, li {
    font-family: "Syne", sans-serif;
}
p, a {
    color: #FF4B00;
    text-decoration: none;
}
a {
    font-weight: 400;
}
a:hover {
    font-weight: 500;
    transition: font-weight 0.5s linear;
}
h1 {
    font-size: 1.4rem;
    font-weight: 300;
}
.copy {
    padding-top: 2rem;
}
li {
    list-style: none;
}
ul {
    padding-left: 0;
}
h2 {
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.sub {
    font-family: "EB Garamond", serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
}
.description {
    font-family: "EB Garamond", serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

header {
    padding: 0.5rem; 
    text-align: left;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}
/* Main */
main {
    margin-top: 0; 
}

/* Container */
.container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    gap: 2.5rem;
}
.prog_side {
    padding: 0 0.5rem;
}
.img_p {
    max-width: 100%;
}

/* Filter */
.filter {
    padding: 5rem 0.5rem;
}

/* Images */
.images {
    display: flex;
    gap: 0.5rem;
    max-height: 100vh;
    overflow: auto;
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.filter ul li {
    cursor: pointer;
}
.filter ul li:hover {
    color: #FF4B00;
}
.filter ul li.active {
    color: #FF4B00;
}

/* Image transitions */
.images img {
    transition: opacity 0.2s ease, transform 0.2s ease; 
    opacity: 0; 
    transform: scale(0.99);  
    object-fit: cover;
}
.images img.show {
    opacity: 1; 
    transform: scale(1); 
}
.all-filter {
    transition: opacity 0.2s ease; /* Transizione per l'opacità */
}
.image-text {
    font-family: "Syne", sans-serif;
}

/* Loader Styles */
#loader {
    position: fixed; /* Fisso per coprire tutto lo schermo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Sfondo nero */
    z-index: 9999; /* Assicurati che il loader sia sopra tutto il resto */
    display: flex; /* Allinea gli elementi al centro */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    opacity: 1; /* Inizialmente visibile */
    transition: opacity 0.8s ease; /* Modifica il tempo di transizione a 0.8 secondi */
}

/* Nascondi il loader dopo il caricamento */
.loader-hidden {
    opacity: 1; /* Nascondi il loader */
}

/*------desktop-------*/
@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        overflow-y: auto;
        gap: 2.5rem;
        max-height: 100vh;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        height: 100vh;
        max-height: 100vh;
    }
    footer {
        position: fixed;
        bottom: 0;
        padding: 0.5rem;
    }
    /* HOVER TESTO */
    .image-text {
        display: none; 
    }
    .tooltip {
        position: absolute; 
        color: white; 
        font-family: "Syne", sans-serif;
        pointer-events: none; 
        opacity: 0; 
        transition: opacity 0.1s ease; 
    }
    .sx {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
    }
    .images img {
        transition: opacity 0.2s ease, transform 0.2s ease; 
        opacity: 0; 
        transform: scale(0.99);  
        width: 100%;
        object-fit: cover;
    }
    img {
        max-width: 100%;
    }

    /* Progetto */
    .prog_side {
        display: grid;
        align-content: space-between;
        gap: 1rem;
        padding: 0;
    }
    .immagine {
        max-height: 100vh;
    }
    .img_p {
        object-fit: fill;
        width: 100%;
    }
    .intro {
        padding-bottom: 2rem;
    }
    .prog {
        padding: 0 0 0 0.5rem;
        max-height: 100vh;
    }

    /* Loader Styles */
    #loader {
        position: fixed; /* Fisso per coprire tutto lo schermo */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black; /* Sfondo nero */
        z-index: 9999; /* Assicurati che il loader sia sopra tutto il resto */
        display: flex; /* Allinea gli elementi al centro */
        justify-content: center; /* Centra orizzontalmente */
        align-items: center; /* Centra verticalmente */
        opacity: 1; /* Inizialmente visibile */
        transition: opacity 0.8s ease; /* Modifica il tempo di transizione a 0.8 secondi */
    }

    /* Nascondi il loader dopo il caricamento */
    .loader-hidden {
        opacity: 1; /* Nascondi il loader */
    }

}
