html {
    background-color: rgb(254, 245, 234);
}

html, body {
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}

/*------------------------------------------------*/
/* gallery progetto singolo */
.gallery-container {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 50%; 
    overflow: hidden; 
    z-index: 100; 
    position: fixed; 
}

.immagine {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100%; 
}

.mainImage {
    width: 100%; 
    height: 40vh; 
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #FF4B00; 
    cursor: pointer;
    user-select: none; 
}

.arrow-left {
    left: 10px; 
}

.arrow-right {
    right: 10px; 
}


.content {
    margin-top: 50%; 
    overflow-y: auto;
    padding: 1rem; 
}

.prog_side {
    padding: 0 0.5rem;
    position: absolute;
    top: 40vh;
    margin-bottom: 2rem; 
}
.img_p {
    max-width: 100%;
    position: fixed;
    height: 40vh;
    width: 100vh;
    object-fit: cover;
}
/*------------------------------------------------*/
/*typo*/
.syne-reg {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.syne-med {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.eb-garamond-med {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.eb-garamond-reg {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1, p, li {
    font-family: "Syne", sans-serif;
}
p, a {
    color: #FF4B00;
    text-decoration: none;
}
a {
    font-weight: 400;
}
a:hover {
    font-weight: 400;
    text-decoration: underline;
}
h1 {
    font-size: 1.4rem;
    font-weight: 300;
}
.copy {
    padding-top: 2rem;
}
li {
    list-style: none;
}
ul {
    padding-left: 0;
}
h2 {
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
button{
    background-color: #FF4B00;
    border-radius: 50px;
    border: none;
    padding: 0.6rem;
    font-family: "Syne", sans-serif;
    color: rgb(254, 245, 234);
    font-size:1rem ;
}
button:hover{
    background-color: rgb(254, 245, 234);
    border-radius: 50px;
    border: solid 1px #FF4B00;
    padding: 0.6rem;
    font-family: "Syne", sans-serif;
    color: #FF4B00;
    font-size: 1rem;
}
.sub {
    font-family: "EB Garamond", serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
}
.description {
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
}

header {
    padding: 0.5rem; 
    text-align: left;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}
/* Main */
main {
    margin-top: 0; 
}

/* homepage */
.container {
    display: grid;
    overflow-y: auto;
    gap: 1.5rem;
    width: 100vw;
    max-width: 100vw;
}

/* Filter */
.filter {
    padding: 5rem 0.5rem 0rem 0.5rem;
}

/* Images */
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    width: 100vw;
    max-width: 100vw;
}
.filter ul li {
    cursor: pointer;
}
.filter ul li:hover {
    color: #FF4B00;
}
.filter ul li.active {
    color: #FF4B00;
}

/* Image transitions */
.images img {
    transition: opacity 0.2s ease, transform 0.2s ease; 
    opacity: 0; 
    transform: scale(0.99);  
    object-fit: cover;
    max-width: 50vw;
    width:50vw;
}
.images img.show {
    opacity: 1; 
    transform: scale(1); 
}
.all-filter {
    transition: opacity 0.2s ease; /* Transizione per l'opacità */
}
.image-text {
    font-family: "Syne", sans-serif;
}

/* Loader Styles */
#loader {
    position: fixed; /* Fisso per coprire tutto lo schermo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Sfondo nero */
    z-index: 9999; /* Assicurati che il loader sia sopra tutto il resto */
    display: flex; /* Allinea gli elementi al centro */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    opacity: 1; /* Inizialmente visibile */
    transition: opacity 0.8s ease; /* Modifica il tempo di transizione a 0.8 secondi */
}

/* Nascondi il loader dopo il caricamento */
.loader-hidden {
    opacity: 1; /* Nascondi il loader */
}

/*------desktop-------*/
@media screen and (min-width: 768px) {
    /*-----------------------------------*/
    .image-container {
        height: calc((100vh / 3) - 0.5rem); /* 1/3 dell'altezza del viewport meno il gutter */
        overflow: hidden; /* Nasconde contenuti in eccesso */
        position: relative;
        display: flex; /* Assicura un layout flessibile */
        justify-content: center; /* Centra l'immagine orizzontalmente */
        align-items: center; /* Centra l'immagine verticalmente */
    }
    
    .image-container img {
        max-width: 100%; /* Adatta la larghezza dell'immagine al contenitore */
        max-height: 100%; /* Adatta l'altezza dell'immagine al contenitore */
        object-fit: contain; /* L'immagine si adatta senza tagliarla */
        object-position: center; /* Centra l'immagine */
        transition: transform 0.3s ease; /* Transizione per effetto hover fluido */
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        overflow-y: auto;
        gap: 2.5rem;
        max-height: 100vh;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        height: 100vh;
        width:auto;
        max-height: 100vh;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: fixed;
        bottom: 0;
        padding: 0.5rem;
        gap: 4rem;
        align-items: baseline;
    }
    /* HOVER TESTO */
    .image-text {
        display: none; 
    }
    .tooltip {
        position: absolute; 
        color: white; 
        font-family: "Syne", sans-serif;
        pointer-events: none; 
        opacity: 0; 
        transition: opacity 0.1s ease; 
    }
    .sx {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
    }
    .images img {
        transition: opacity 0.2s ease, transform 0.2s ease; 
        opacity: 0; 
        transform: scale(0.99);  
        width: 100%;
        object-fit: cover;
    }
    img {
        max-width: 100%;
    }

    /* Progetto */
    .prog_side {
        display: grid;
        align-content: space-between;
        gap: 1rem;
        margin-top: 5rem;
        position: unset;
      
    }
    .immagine {
        max-height: 100vh;
    }
    .img_p {
        width: 100%;
        max-width: 100%;
        position: unset;
        height: 100vh;
        object-fit: cover;
    }
    .intro {
        padding-bottom: 2rem;
    }
    .prog {
        padding: 0 0 0 0.5rem;
        max-height: 100vh;
    }

    /* Loader Styles */
    #loader {
        position: fixed; /* Fisso per coprire tutto lo schermo */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black; /* Sfondo nero */
        z-index: 9999; /* Assicurati che il loader sia sopra tutto il resto */
        display: flex; /* Allinea gli elementi al centro */
        justify-content: center; /* Centra orizzontalmente */
        align-items: center; /* Centra verticalmente */
        opacity: 1; /* Inizialmente visibile */
        transition: opacity 0.8s ease; /* Modifica il tempo di transizione a 0.8 secondi */
    }

    /* Nascondi il loader dopo il caricamento */
    .loader-hidden {
        opacity: 1; /* Nascondi il loader */
    }

    /* gallery */
    .gallery-container {
        position: relative; 
        width: 100%;
        max-width: 100%; 
        margin: 0; 
        object-fit: cover;
        max-height: 100%;
    }

    .immagine {
        display: flex; 
        justify-content: center;
    }

    .mainImage {
        width: 100%; 
        height: 100vh; 
        object-fit: cover;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: #FF4B00; 
        cursor: pointer;
        user-select: none; 
    }

    .arrow-left {
        left: 10px; 
    }

    .arrow-right {
        right: 10px; 
    }

}
